.project{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: #61dafb;
}
.img{
    height: 350px;
    width: 350px;
}
.description{
    Word-break: break-all;
}