.mainBlock{
    height: 100vh;
    border: 3px solid  green;
    background-color: mediumspringgreen;
}

.text{
    width: 300px;
    background-color: #61dafb;
}
.photo{
    width: 300px;
    height: 400px;
    background-color: red;
}
.photo img{
    width: 300px;
    height: 400px;
}